/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    max-width: 100%;
}

/* Profile section */

.container {
    display: grid;
}

.profile-image {
    border-radius: 50%;
    border: 10px solid rgb(8, 82, 82);
    width: 350px;
    overflow: hidden;
    margin-bottom: 5px;
}

